*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite
*.db
.env
.venv/
env/
venv/
instance/
*.db
node_modules/
build/
dist/
*.log
*.import
/.import/
export/
game/.godot/
*.godot-import
*.import/
.vscode/
.idea/
.DS_Store
Thumbs.db
ehthumbs.db
pgdata/
*.bak
*.sql
*.log
*.tsbuildinfo
*.swp
